@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  background-color: hsl(212, 45%, 89%);
}

section {
  width: clamp(50px, 100%, 310px);
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}

div.image {
  border-radius: inherit;
}

img {
  width: 100%;
  max-width: 310px;
  border-radius: inherit;
}

div.text {
  text-align: center;
  margin: 10px 0;
}

h3 {
  color: hsl(218, 44%, 22%);
  font-size: clamp(0.8rem, 10vw, 1.3rem);
}

p {
  color: hsl(220, 15%, 55%);
  margin: 10px 0;
  font-size: clamp(0.8rem, 5vw, 1rem);
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 12px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
