@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-image: url("/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
}

.card,
.subscriptions {
  text-align: center;
}

.subscriptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subscriptions > div:nth-child(1) {
  display: inline-flex;
  gap: 1rem;
}

.subscriptions div a {
  text-decoration: underline;
}

.card {
  width: 100%;
  max-width: 350px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
}

.card .content a {
  display: block;
}

.content {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.content h3 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.content p {
  color: hsl(224, 23%, 55%);
}

div.subscriptions p span {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.image {
  border-radius: 15px 15px 0 0;
  margin-bottom: 20px;
}

.image img {
  width: 100%;
  border-radius: inherit;
}

.content > h3,
.content > p,
.subscriptions,
.content > a {
  margin-bottom: 20px;
}

.payment-button {
  background-color: hsl(245, 75%, 52%);
  padding: 15px 0;
  color: white;
  border-radius: 15px;
  box-shadow: 0 5px 10px hsl(224, 23%, 55%);
  font-weight: 700;
}

.cancel-order {
  color: hsl(224, 23%, 55%);
  font-weight: 700;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
